@import './function.scss';
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'SFProDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: rem(12);
  line-height: rem(14);
}

html,
body {
  overflow: hidden;
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

svg {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: rem(5);
  // background: $gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
